body {
background-image: url('https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif');
  border: 3px;
  border-style: dotted;
  border-color: rgba(255, 255, 255, 0.2)
}

.maintext {
    font-family: "MingLiU", cursive;
    color: white;
    font-size:25px;
           top: 15px;
           bottom: 15px;
           left: 15px;
           right: 15px;
}

button {
  background-color: #000000;
  color: #ffffff;
}
